language: ruby

# only run CI-builds on gh-pages branch
branches:
  only:
    - gh-pages

rvm:
  - 2.6.3

services:
  - docker

before_install:
  - docker build -t keepaliveit/jekyll-gulp-docker ./jekyll-gulp-docker -f jekyll-gulp-docker/Dockerfile
  - docker run -it --rm -v $(pwd):/srv -w="/srv/src/resource" -p 3000:3000 keepaliveit/jekyll-gulp-docker npm run serve:rebuild

# setup npm and set execution permission on our build script
before_script:
  - chmod +x ./scripts/cibuild.sh

# path to our build script.
# Travis will run `bundle install` by default before running our script
script: ./scripts/cibuild.sh
exclude: [vendor]

cache:
  - bundler # cache bundler gem packages to speed up build
  - npm # cache npm modules to speed up JS build

addons:
  apt:
    packages:
    - libcurl4-openssl-dev