{% if site.logo contains "://" %}
{% capture logo_path %}{{ site.logo }}{% endcapture %}
{% else %}
{% capture logo_path %}{{ site.logo }}{% endcapture %}
{% endif %}

<div class="droopmenu-boxed">
    <div class="droopmenu-navbar dmfixed">
        <div class="droopmenu-inner">
            <div class="droopmenu-header">
                <a href="/" class="droopmenu-brand">
                    <img src="/assets/images/logo-tagline.svg"
                         class="lazy"
                         alt="Keep-Alive I.T Logo">
                </a>
                <a href="#" class="droopmenu-toggle"></a>
            </div><!-- droopmenu-header -->
            <div class="droopmenu-nav">
                <ul class="droopmenu">

                    {%- for link in site.data.navigation.main -%}
                    {%- if link.item.url contains '://' -%}
                    {%- assign url = link.item.url -%}
                    {%- else -%}
                    {%- assign url = link.item.url | relative_url -%}
                    {%- endif -%}

                    <li class="droopmenu-parent droopmenu-mega" aria-haspopup="true">
                        <a href="{{ link.url }}" aria-expanded="false">
                            {{ link.title }}
                        </a>
                        <ul class="droopmenu-megamenu droopmenu-grid">
                            <li class="droopmenu-tabs tabs-justify droopmenu-tab-hover">
                                <div class="droopmenu-tabpanel droopmenutabcol">
                                    <!-- TAB -->
                                    {%- for submenu1 in link.subitems -%}
                                    <div class="droopmenu-tabsection" class="droopmenu-helptext"
                                         data-helptext="{{ submenu1.helptext }}">
                                        <a href="{{ submenu1.url }}" class="droopmenu-tabheader">
                                            {{ submenu1.icon }}
                                            {{ submenu1.short_title }}
                                        </a>
                                        <div class="droopmenu-tabcontent">
                                            <div class="droopmenu-row">
                                                {%- for submenu2 in submenu1.subitems -%}
                                                <ul class="droopmenu-col">
                                                    <li class="droopmenu-helptext"
                                                        data-helptext="{{ submenu2.helptext }}">
                                                        <h4>
                                                            {{ submenu2.icon }}
                                                            {{ submenu2.title }}
                                                        </h4>
                                                    </li>
                                                    {%- for submenu3 in submenu2.subitems -%}
                                                    <li class="droopmenu-helptext"
                                                        data-helptext="{{ submenu3.helptext }}">
                                                        <a href="{{ submenu3.url }}">{{ submenu3.title }}</a>
                                                    </li>
                                                    {%- endfor -%}
                                                </ul>
                                                {%- endfor -%}
                                            </div>
                                            <div>
                                                <a href="{{ submenu1.url }}">
                                                    {{ submenu1.icon }}
                                                    Explore all I.T Solutions for {{ submenu1.short_title }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {%- endfor -%}
                                </div>
                            </li>
                        </ul>
                    </li>

                    {%- endfor -%}

                    <li>
                        <a href="#">I.T Consultancy Topics</a>
                        <ul>
                            <li>
                                <a href="#">Flyout</a>
                                <ul>
                                    <li>
                                        <a href="#">Multi Level</a>
                                        <ul>
                                            <li><a href="#">Level 11</a></li>
                                            <li>
                                                <a href="#">Level 12</a>
                                                <ul>
                                                    <li><a href="#">Level Link 12</a></li>
                                                    <li><a href="#">Level Link 12</a></li>
                                                    <li><a href="#">Level Link 12</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Level 13</a></li>
                                            <li><a href="#">Level 14</a></li>
                                            <li><a href="#">Level 15</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Codecanyon</a></li>
                                    <li><a href="#">Themeforest</a></li>
                                    <li><a href="#">Graphicriver</a></li>
                                    <li><a href="#">Audiojungle</a></li>
                                    <li><a href="#">Photodune</a></li>
                                    <li><a href="#">Videohive</a></li>
                                    <li><a href="#">3Docean</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Company</a>
                        <ul class="droopmenu-megamenu droopmenu-grid">
                            <li class="droopmenu-grid-container">
                                <div class="droopmenu-row dm-equalize">
                                    <div class="droopmenu-col droopmenu-col4">
                                        <div class="droopmenu-content dm-border-right">
                                            <h4>Latest Company News</h4>
                                            <p>
                                                <span class="dm-small">23rd June 2018</span><br/>
                                                Sed at veniam antiopam neglegentur, cu libris labores quaestio
                                                ius. Sed ad consul disputando. Et perfecto urbanitas intellegam nam
                                                obcaecati eveniet voluptatem optio soluta corporis quas.
                                                <a href="#">Read More <i class="ion-android-arrow-forward"></i></a>
                                            </p>
                                            <p>
                                                <span class="dm-small">12th July 2018</span><br/>
                                                Suspendisse ut vulputate erat. Vestibulum quis auctor odio.
                                                Etiam porta nec lectus non sollicitudin. Nunc id tortor nisi.
                                                Vivamus sed tortor in ante dignissim
                                                <a href="#">Read More <i class="ion-android-arrow-forward"></i></a>
                                            </p>
                                            <p>
                                                <span class="dm-small dm-bold">28th July 2018</span><br/>
                                                Pro an animalmaiestatis eat omittam fastidii wisi iudico
                                                numquam eos at, excorpora contentiones sed, dicant constituam
                                                eu est. Ex eruditi facilis mei, id vero omittantur eum.
                                                <a href="#">Read More <i class="ion-android-arrow-forward"></i></a>
                                            </p>
                                        </div><!-- droopmenu-content -->
                                    </div><!-- col5 -->
                                    <div class="droopmenu-col droopmenu-col4">
                                        <div class="droopmenu-content dm-border-right">
                                            <h4>About Us</h4>
                                            <p>Donec tortor augue, semper eu convallis vitae,
                                                mollis commodo neque. Morbi nibh erat, imperdiet viverra
                                                volutpat a, vulputate vel nunc. Etiam consequat scelerisque
                                                volutpat. Suspendisse potenti mollis sit amet sagittis.</p>
                                            <hr class="dm-border-bottom">
                                            <h4>Our Mission</h4>
                                            <p>Sed mi erat, dictum id ultricies adipiscing,
                                                viverra sit amet elit ut, tempor ornare id massa
                                                commodo, iaculis libero sit amet.</p>
                                            <hr class="dm-border-bottom">
                                            <h4>Social Media</h4>
                                            <div class="droopmenu-social-icons">
                                                <a href="#" class="dms-icon dm-facebook"> <i
                                                        class="ion-social-facebook"></i> </a>
                                                <a href="#" class="dms-icon dm-twitter"> <i
                                                        class="ion-social-twitter"></i> </a>
                                                <a href="#" class="dms-icon dm-googleplus"> <i
                                                        class="ion-social-google"></i> </a>
                                                <a href="#" class="dms-icon dm-linkedin"><i
                                                        class="ion-social-linkedin"></i></a>
                                                <a href="#" class="dms-icon dm-rss"><i class="ion-social-rss"></i></a>
                                                <a href="#" class="dms-icon dm-instagram"><i
                                                        class="ion-social-instagram"></i></a>
                                                <a href="#" class="dms-icon dm-youtube"><i
                                                        class="ion-social-youtube"></i></a>
                                                <a href="#" class="dms-icon dm-whatsapp"><i
                                                        class="ion-social-whatsapp"></i></a>
                                            </div><!-- social-icons -->
                                        </div><!-- droopmenu-content -->
                                    </div>
                                    <div class="droopmenu-col droopmenu-col4">
                                        <div class="droopmenu-content">
                                            <h4>Icon Links</h4>
                                            <ul class="droopmenu-icon-links">
                                                <li>
                                                    <a href="#">Security</a>
                                                    <div class="dm-details">
                                                        <span>Security</span>
                                                        <p>Potencialize os resultados com
                                                            nossos poderosos recursos</p>
                                                    </div>
                                                    <div class="dm-icon-holder">
                                                        <i class="ion-android-lock"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="#">Group Chat</a>
                                                    <div class="dm-details">
                                                        <span>Group Chat</span>
                                                        <p>Potencialize os resultados com
                                                            nossos poderosos recursos</p>
                                                    </div>
                                                    <div class="dm-icon-holder">
                                                        <i class="ion-chatboxes"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="#">Useful Tips</a>
                                                    <div class="dm-details">
                                                        <span>Useful Tips</span>
                                                        <p>Potencialize os resultados com
                                                            nossos poderosos recursos</p>
                                                    </div>
                                                    <div class="dm-icon-holder">
                                                        <i class="ion-ios-lightbulb"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="#">Analytics</a>
                                                    <div class="dm-details">
                                                        <span>Analytics</span>
                                                        <p>Potencialize os resultados com
                                                            nossos poderosos recursos</p>
                                                    </div>
                                                    <div class="dm-icon-holder">
                                                        <i class="ion-pie-graph"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="droopmenu-extra">
                <ul class="droopmenu">
                    <li>
                        <a class="droopmenu-button" href="/search">
                            <span>Search</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<nav class="pushy pushy-right"  data-menu-btn-class=".droopmenu-toggle">
    <div class="pushy-content">
        <ul>
            {%- for link in site.data.navigation.main[0].subitems -%}
            {% if link.subitems %}
            <li class="pushy-submenu">
                <button>
                    {{ link.icon }} &nbsp;
                    {{ link.title }}
                </button>
                <ul>
                    {%- for submenu1 in link.subitems -%}
                    {% if submenu1.subitems %}
                    <li class="pushy-submenu">
                        <button>
                            {{ submenu1.icon }} &nbsp;
                            {{ submenu1.title }}
                        </button>
                        <ul>
                            {%- for submenu2 in submenu1.subitems -%}
                            <li class="pushy-link">
                                <a href="{{ submenu2.url }}">
                                    {{ submenu2.icon }} &nbsp;
                                    {{ submenu2.title }}
                                </a>
                            </li>
                            {%- endfor -%}
                        </ul>
                    </li>
                    {% else %}
                    <li class="pushy-link">
                        <a href="{{ submenu1.url }}">
                            {{ submenu1.icon }} &nbsp;
                            {{ submenu1.title }}
                        </a>
                    </li>
                    {% endif %}
                    {%- endfor -%}
                </ul>
            </li>
            {% else %}}
            <li class="pushy-link">
                <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endif %}
            {%- endfor -%}
        </ul>
    </div>
</nav>

<div class="site-overlay"></div>

<div class="body-overlay"></div>

<div id="helptext">
    <div class="description">
        <i class="fas fa-info-circle"></i>
    </div>
    <div class="text-content"></div>
</div>