{% if site.logo contains "://" %}
{% capture logo_path %}{{ site.logo }}{% endcapture %}
{% else %}
{% capture logo_path %}{{ site.logo }}{% endcapture %}
{% endif %}


<div class="masthead">

    <ul class="exo-menu">
        <li><a class="active" href="#">
            <i class="fa fa-home"></i>
            Home</a>
        </li>
        <li class="drop-down">
            <a href="#">
                <i class="fa fa-cogs"></i>
                Flyout
            </a>
            <ul class="drop-down-ul animated fadeIn">
                <li class="flyout-right">
                    <a href="#">Flyout Right this is some text lol and it needs to fit</a>
                    <ul class="animated fadeIn">
                        <li class="drop-down-submenu">
                            <a href="#">Mobile</a>
                        </li>
                        <li>
                            <a href="#">Computer</a>
                        </li>
                        <li>
                            <a href="#">Watch</a>
                        </li>
                    </ul>
                </li>
                <li class="flyout-right">
                    <a href="#">Flyout Right this is some text lol and it needs to fit</a>
                    <ul class="animated fadeIn">
                        <li class="drop-down-submenu">
                            <a href="#">Mobile</a>
                            <ul class="animated fadeIn">
                                <li><a href="#">Mobile 1</a></li>
                                <li><a href="#">Mobile 2</a></li>
                                <li><a href="#">Mobile 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Computer</a>
                            <ul class="animated fadeIn">
                                <li><a href="#">Computer 1</a></li>
                                <li><a href="#">Computer 2</a></li>
                                <li><a href="#">Computer 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Watch</a></li>
                    </ul>
                </li>
                <li class="flyout-left">
                    <a href="#">Flyout Left</a>
                    <ul class="animated fadeIn">
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Computer</a></li>
                        <li><a href="#">Watch</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">No Flyout</a>
                </li>
            </ul>
        </li>
        <li class="mega-drop-down">
            <a href="#">
                <i class="fa fa-list"></i>
                Mega Menu
            </a>
            <div class="animated fadeIn mega-menu">
                <div class="mega-menu-wrap">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="row mega-title">Feature</h4>
                            <img class="img-responsive"
                                 src="https://3.bp.blogspot.com/-rUk36pd-LbM/VcLb48X4f-I/AAAAAAAAGCI/Y_UxBAgEqwA/s1600/Magento_themes.jpg">
                        </div>
                        <div class="col-md-2">
                            <h4 class="row mega-title">Standers</h4>
                            <ul class="stander">
                                <li><a href="#">Mobile</a></li>
                                <li><a href="#">Computer</a></li>
                                <li><a href="#">Watch</a></li>
                                <li><a href="#">laptop</a></li>
                                <li><a href="#">Camera</a></li>
                                <li><a href="#">I pad</a></li>
                                <li><a class="view-more btn- btn-sm" href="#">View more</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4 class="row mega-title">Description</h4>
                            <ul class="description">
                                <li><a href="#">Women</a>
                                    <span>Description of Women</span>
                                </li>
                                <li><a href="#">Men</a>
                                    <span>Description of men Cloths</span>
                                </li>
                                <li><a href="#">Kids</a>
                                    <span>Description of Kids Cloths</span>
                                </li>
                                <li><a href="#">Others</a>
                                    <span>Description of Others Cloths</span>
                                </li>
                                <li>
                                    <a class="view-more btn btn-sm " href="#">View more</a>

                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4 class="row mega-title">Icon + Description</h4>
                            <ul class="icon-des">
                                <li><a href="#"><i class="fa fa-globe"></i>Web</a></li>
                                <li><a href="#"><i class="fa fa-mobile"></i>Mobile</a></li>
                                <li><a href="#"><i class="fa fa-arrows-h"></i>Responsive</a></li>
                                <li><a href="#"><i class="fa fa-desktop"></i>Desktop</a></li>
                                <li><a href="#"><i class="fa fa-paint-brush"></i>UI/UX</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li class="blog-drop-down">
            <a href="#">
                <i class="fa fa-bullhorn"></i>
                Blog
            </a>
            <div class="Blog animated fadeIn">
                <div class="col-md-4">
                    <img class="img-responsive"
                         src="https://2.bp.blogspot.com/-VG_e0pKfrDo/VcLb6JwZqfI/AAAAAAAAGCk/8ZgA9kZqTQ8/s1600/images3.jpg">
                    <div class="blog-des">
                        <h4 class="blog-title">Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                            veniam, quis
                            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                            commodo consequat.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate. </p>
                        <a class="view-more btn- btn-sm" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive"
                         src="https://3.bp.blogspot.com/-hUt5FrdZHio/VcLb5dlwTBI/AAAAAAAAGCU/UUH5N1JkoQc/s1600/images1.jpg">
                    <div class="blog-des">
                        <h4 class="blog-title">Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                            veniam, quis
                            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                            commodo consequat.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate. </p>
                        <a class="view-more btn- btn-sm" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive"
                         src="https://4.bp.blogspot.com/-A7U1uPlSq6Y/VcLb5kKHCkI/AAAAAAAAGCc/7WghyndTEuY/s1600/images2.jpg">
                    <div class="blog-des">
                        <h4 class="blog-title">Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                            euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                            veniam, quis
                            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                            commodo consequat.
                            Duis autem vel eum iriure dolor in hendrerit in vulputate. </p>
                        <a class="view-more btn- btn-sm" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="images-drop-down"><a href="#"><i class="fa fa-photo"></i> Images</a>
            <div class="Images animated fadeIn">
                <div class="col-md-3">
                    <h4>Images Title </h4>
                    <img class="img-responsive"
                         src="https://2.bp.blogspot.com/-VG_e0pKfrDo/VcLb6JwZqfI/AAAAAAAAGCk/8ZgA9kZqTQ8/s1600/images3.jpg">
                </div>
                <div class="col-md-3">
                    <h4>Images Title </h4>
                    <img class="img-responsive"
                         src="https://3.bp.blogspot.com/-hUt5FrdZHio/VcLb5dlwTBI/AAAAAAAAGCU/UUH5N1JkoQc/s1600/images1.jpg">
                </div>
                <div class="col-md-3">
                    <h4>Images Title </h4>
                    <img class="img-responsive"
                         src="https://4.bp.blogspot.com/-A7U1uPlSq6Y/VcLb5kKHCkI/AAAAAAAAGCc/7WghyndTEuY/s1600/images2.jpg">
                </div>
                <div class="col-md-3">
                    <h4>Images Title </h4>
                    <img class="img-responsive"
                         src="https://3.bp.blogspot.com/-hGrnZIjzL2k/VcLb47kyQKI/AAAAAAAAGCQ/J6Q2IAHIQvQ/s1600/image4.jpg">
                </div>
            </div>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-envelope"></i>
                Contact
            </a>
        </li>
        <a href="#" class="toggle-menu visible-xs-block">|||</a>
    </ul>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="masthead__inner-wrap">
        <div class="masthead__menu">
            <nav class="site-nav greedy-nav">
                <div class="masthead__brand">
                    {% unless logo_path == empty %}
                    <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}"
                                                                              alt=""></a>
                    {% endunless %}
                    <a class="site-title" href="{{ '/' | relative_url }}">
                        {{ site.masthead_title | default: site.title }}
                        {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
                    </a>
                </div>

                <ul class="visible-links">
                  {%- for link in site.data.navigation.main -%}
                    {%- if link.item.url contains '://' -%}
                      {%- assign url = link.item.url -%}
                    {%- else -%}
                      {%- assign url = link.item.url | relative_url -%}
                    {%- endif -%}
                    {%- assign url_no_home = page.url | replace: "-consumer", "" -%}
                    <li class="masthead__menu-item {% if (page.url == url) or (url_no_home == url) %}active{% endif %}">
                        <a class="mfc" href="{{ link.url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>
                          <span>{{ link.title }}</span>
                          <span></span>
                        </a>
                        <ul class="dropdown-menu">
                          {%- for submenu1 in link.subitems -%}
                            <li>
                              <a class="msc" href="{{ submenu1.url }}">{{ submenu1.title }} {% if submenu1.subitems %}<span></span>{% endif %}</a>
                              <ul class="dropdown-menu-secondary">
                                {%- for submenu2 in submenu1.subitems -%}
                                <li>
                                  <a class="msc" href="{{ submenu2.url }}">{{ submenu2.title }} {% if submenu2.subitems %}<span></span>{% endif %} </a>
                                </li>
                                {%- endfor -%}
                              </ul>
                            </li>
                          {%- endfor -%}
                        </ul>
                    </li>
                  {%- endfor -%}
                </ul>

                {% if site.search == true %}
                <button class="search__toggle" type="button">
                    <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
                    <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
                        <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z"
                              transform="translate(-.01)"></path>
                    </svg>
                </button>
                {% endif %}
                <button class="greedy-nav__toggle hidden" type="button">
                    <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
                    <div class="navicon"></div>
                </button>
                <ul class="hidden-links hidden"></ul>
            </nav>
        </div>
    </div>
</div>
