{% if site.logo contains "://" %}
{% capture logo_path %}{{ site.logo }}{% endcapture %}
{% else %}
{% capture logo_path %}{{ site.logo }}{% endcapture %}
{% endif %}

<header class="masthead">
    <div class="masthead__inner-wrap">
        <div class="masthead__menu">
            <nav class="site-nav greedy-nav">
                <div class="masthead__brand">
                    {% unless logo_path == empty %}
                    <a class="site-logo-link" href="{{ '/' | relative_url }}">
                        <img src="/assets/images/logo-tagline.svg"
                             class="lazy img-fluid"
                             alt="Keep-Alive I.T Logo"></a>
                    {% endunless %}
                </div>

                <ul class="exo-menu">
                    {%- for link in site.data.navigation.main -%}
                    {%- if link.item.url contains '://' -%}
                    {%- assign url = link.item.url -%}
                    {%- else -%}
                    {%- assign url = link.item.url | relative_url -%}
                    {%- endif -%}
                    {%- assign url_no_home = page.url | replace: "-consumer", "" -%}
                    <li class="drop-down {% if (page.url == url) or (url_no_home == url) %}active{% endif %}">
                        <a href="{{ link.url }}" {% if link.description %}title="{{ link.description }}" {%
                           endif %}>
                            <span class="menu-item">
                                {{ link.title }}
                                ▾
                            </span>
                        </a>
                        <ul class="drop-down-ul ">
                            {%- for submenu1 in link.subitems -%}
                            <li class="flyout-right">
                                <a href="{{ submenu1.url }}">
                                    <span>
                                        {{ submenu1.title }}
                                        {% if submenu1.subitems %}
                                        ▸
                                        {% endif %}
                                    </span>
                                </a>
                                <ul class="">
                                    {%- for submenu2 in submenu1.subitems -%}
                                    <li class="drop-down-submenu">
                                        <a href="{{ submenu2.url }}">
                                            <span>
                                                {{ submenu2.title }}
                                                {% if submenu2.subitems %}
                                                ▸
                                                {% endif %}
                                            </span>
                                        </a>
                                    </li>
                                    {%- endfor -%}
                                </ul>
                            </li>
                            {%- endfor -%}
                        </ul>
                    </li>
                    {%- endfor -%}

                    <li class="mega-drop-down">
                        <a href="#">
                            <span class="menu-item">
                                I.T Resources ▾
                            </span>
                        </a>
                        <div class="mega-menu">
                            <div class="mega-menu-wrap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h4 class="row mega-title">Special Offer</h4>
                                            <img class="img-fluid lazy"
                                                 data-src="https://3.bp.blogspot.com/-rUk36pd-LbM/VcLb48X4f-I/AAAAAAAAGCI/Y_UxBAgEqwA/s1600/Magento_themes.jpg">
                                        </div>
                                        <div class="col-sm-4">
                                            <h4 class="row mega-title">I.T Resources</h4>
                                            <ul class="description">
                                                <li>
                                                    <a href="/it-consultation">
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                        I.T Consultancy Articles
                                                    </a>
                                                    <span>I.T Consultancy Articles covering topics in commercial I.T setups. </span>
                                                </li>
                                                <li>
                                                    <a href="/tech-tips">
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                        Tech Tips for Consumers
                                                    </a>
                                                    <span>Technology Tips for Consumers, covering a range of I.T topics for household I.T setups.</span>
                                                </li>
                                                <li>
                                                    <a class="view-more btn-sm " href="/resources">
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                        View more I.T Resources
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <h4 class="row mega-title">I.T Solutions</h4>
                                            <ul class="stander">
                                                <li>
                                                    <a href="/solutions/cyber-essentials-it-compliance">
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                        Cyber Essentials I.T Compliance
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/solutions/gdpr-it-compliance">
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                        GDPR Compliance for I.T
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/solutions/it-for-business">
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                        I.T Solutions for Businesses
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/solutions/it-for-consumers">
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                        I.T Solutions for Consumers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/solutions/it-for-non-profit">
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                        I.T Solutions for Non-Profit Organisations
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/solutions/it-for-public-sector">
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                        I.T Solutions for Public Sector
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/solutions/it-for-startups">
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                        I.T Solutions for Startups
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="view-more btn-sm" href="/solutions">
                                                        <i class="fas fa-arrow-circle-right"></i>
                                                        View more I.T Solutions
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </li>
                    <li class="blog-drop-down">
                        <a href="#">
                            <span class="menu-item">
                                Company News ▾
                            </span>
                        </a>
                        <div class="Blog">
                            <div class="container">
                                <h4 class="row mega-title">Latest Company News</h4>
                                <div class="row">
                                    {% for post in site.posts limit:4 %}
                                    <div class="col-sm-3">
                                        <img class="img-fluid lazy"
                                             data-src="{{ post.thumbnail }}">
                                        <h4 class="blog-title">{{ post.title }}</h4>
                                        <p class="blog-description">{{ post.excerpt | strip_html }}</p>
                                        <a class="view-more btn- btn-sm" href="{{ post.url }}">
                                            <i class="fas fa-arrow-circle-right"></i>
                                            Read More
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            {% if site.search == true %}
                            <button class="search__toggle" type="button">
                                <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
                                <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 15.99 16">
                                    <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z"
                                          transform="translate(-.01)"></path>
                                </svg>
                            </button>
                            {% endif %}
                        </a>
                    </li>
                </ul>

                <ul class="exo-menu-2">
                    <li>
                        {% if site.search == true %}
                        <button class="search__toggle" type="button">
                            <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
                            <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 15.99 16">
                                <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z"
                                      transform="translate(-.01)"></path>
                            </svg>
                        </button>
                        {% endif %}
                    </li>
                    <li>
                        <button class="greedy-nav__toggle menu-btn" type="button">
                            <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
                            <div class="navicon"></div>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<nav class="pushy pushy-right">
    <div class="pushy-content">
        <ul>
            {%- for link in site.data.navigation.mobile -%}
            {% if link.subitems %}
            <li class="pushy-submenu">
                <button>{{ link.title }}</button>
                <ul>
                    {%- for submenu1 in link.subitems -%}
                        {% if submenu1.subitems %}
                            <li class="pushy-submenu">
                                <button>{{ submenu1.title }}</button>
                                <ul>
                                    <li class="pushy-link"><a href="#">Item 1</a></li>
                                    <li class="pushy-link"><a href="#">Item 2</a></li>
                                    <li class="pushy-link"><a href="#">Item 3</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="pushy-link">
                                <a href="{{ submenu1.url }}">{{ submenu1.title }}</a>
                            </li>
                        {% endif %}
                    {%- endfor -%}
                </ul>
            </li>
            {% else %}}
            <li class="pushy-link">
                <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endif %}
            {%- endfor -%}
        </ul>
    </div>
</nav>

<!-- Site Overlay -->
<div class="site-overlay"></div>

<!-- Body Overlay -->
<div class="body-overlay"></div>