{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">

    {% assign author = page.author | default: page.authors[0] | default: site.author %}
    {% assign author = site.data.authors[author] | default: author %}
    <p class="notice--info"><i class="fas fa-check-circle"></i> <strong>Approved Expert Article:</strong> by {{ author.name }}.</p>

  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | relative_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}