<section class="regular slider">
    <div class="reason-item">
        <img data-lazy="/assets/images/benefits/contact.png"/>
        <div class="item-title">Direct contact</div>
        <div class="item-description">One of our agents will be your dedicated contact throughout the
            duration of our time working together, which means no jumping between multiple contacts at
            Keep-Alive I.T and more of a personal relationship with your agent.
        </div>
    </div>

    <div class="reason-item">
        <img data-lazy="/assets/images/benefits/feedback.png"/>
        <div class="item-title">Customer focused</div>
        <div class="item-description">We listen to our customers feedback and are always trying to improve
            what we do. Throughout the duration of our time working together, we will ask for feedback on
            how our work is performing. These metrics will be used for improving our service to other valued
            customers.
        </div>
    </div>

    <div class="reason-item">
        <img data-lazy="/assets/images/benefits/payment-day.png"/>
        <div class="item-title">Monthly repayments</div>
        <div class="item-description">Say goodbye to upfront bills and spread the cost of a project over a
            period of 3, 4, or
            5 months. In addition to this, we offer monthly payments for retainer contracts and existing
            clients, so I.T becomes more affordable.
        </div>
    </div>


    <div class="reason-item">
        <img data-lazy="/assets/images/benefits/running.png"/>
        <div class="item-title">Agile by nature</div>
        <div class="item-description">We understand requirements can change rapidly and that a Waterfall
            project management methodology is no longer suitable for the way most companies operate. We are
            committed to
            working with you to develop your Agile strategy to maximise your business value.
        </div>
    </div>

    <div class="reason-item">
        <img data-lazy="/assets/images/benefits/locked.png"/>
        <div class="item-title">Secure & Confidential</div>
        <div class="item-description">We respect your privacy and we're more than happy to sign any
            Non-Disclosure Agreements that our clients may have. We're fully GDPR compliant, meaning the way we
            handle your data is fair and legal. Should you need to know more about this, please contact us.
        </div>
    </div>

    <div class="reason-item">
        <img data-lazy="/assets/images/benefits/sprout.png"/>
        <div class="item-title">Passionate About Technology</div>
        <div class="item-description">We hire only the best consultants and engineers who are passionate
            about technology. Their work is also their passion, meaning they're always kept up to date with
            the best industry standards and can also specialise in technologies if required.
        </div>
    </div>

    <div class="reason-item">
        <img data-lazy="/assets/images/benefits/clock.png"/>
        <div class="item-title">Around the clock operation (On Call)</div>
        <div class="item-description">Just like any other company, we have office hours. However, we
            understand I.T is a 24 operation so we've built our business around incident response and can
            ensure staff members can be at hand 24 hours a day to respond to urgent queries or production
            issues.
        </div>
    </div>

    <div class="reason-item">
        <img data-lazy="/assets/images/benefits/toolbox.png"/>
        <div class="item-title">Unbiased technical advice</div>
        <div class="item-description">We specialise in many different technologies, across many different
            areas of I.T. We're not biased towards any particular technology and will always propose
            multiple ideas towards an I.T problem.
        </div>
    </div>

    <div class="reason-item">
        <img data-lazy="/assets/images/benefits/pound.png"/>
        <div class="item-title">Early Invoice payment Incentive</div>
        <div class="item-description">Pay your invoices early and we'll reduce your costs by 5%. This is
            just our way of saying thank you for being a loyal customer.
        </div>
    </div>
</section>