.landing {
  .feature__item {
    padding: 2em;
  }
}

.christmas-2019 {
  .fireplace-img {
    height: 140px;
  }
}

.cloud-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;
}

.software-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;

  svg {
    color: darkolivegreen;
  }
}

.hardware-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;

  svg {
    color: #ff6e26;
  }
}

.cyber-security-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;

  svg {
    color: cornflowerblue;
  }
}

.web-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;

  svg {
    color: orange;
  }
}

#industry-consultation {
  padding: 50px;
  background: $lighter-gray;

  h3 {
    margin-top: 0 !important;
  }

  .industry-list {
    list-style-type: none;
    padding-left: 0 !important;
  }
}

#consultancy-posts {

  margin-bottom: 3em;

  h2 {
    margin-top: 0 !important;
  }

  .post-list {
    list-style-type: none;
    padding-left: 0 !important;
  }
}

.header-info-nav {

  float: right;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  margin: 0 0 0 20px;
  line-height: 1.5em;

  li {
    display: inline-block;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: #ffffff;
    }
  }
}

#metrics {
  text-align: center;
  background: #f5f5f5;

  ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style: none;
    float: left;
  }

  span {
    display: block;
    text-align: center;
  }

  a {
    color: #36b2ea;
  }
  .clearfix {
    clear: both;
  }
  .center {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1260px;
    box-sizing: content-box;
  }
  li {
    line-height: 1.5em;
    color: #323232;
  }
  li {
    padding: 0 0 30px 0;
  }
  ul {
    padding: 0 0 30px 25px;
  }
  li {
    font-size: 16px;
  }
  .stat {
    height: 60px;
    line-height: 60px;
    font-size: 45px;
    color: #aa0000 !important;
  }
  span.metric {
    min-height: 55px;
  }
  .animatedNumber {
    display: inline;
  }
}

@media only screen and (min-width: 481px) {
  section#metrics ul {
    margin-bottom: -20px;
  }
  #metrics .stat {
    font-size: 35px;
  }
  section#metrics ul li {
    float: left;
    padding: 0 2%;
    width: 46%;
  }
}

@media only screen and (min-width: 601px) {
  #metrics .stat {
    font-size: 45px;
  }
}

@media only screen and (min-width: 769px) {
  section#metrics {
    padding: 40px 0;
  }
}

@media only screen and (min-width: 992px) {
  section#metrics {
    padding: 70px 0;
  }
  section#metrics ul.cols4 li {
    width: 25%;
  }
}
