.landing {
  .feature__item {
    padding: 2em;
  }
}

.christmas-2019 {
  .fireplace-img {
    height: 140px;
  }
}


.cloud-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;
}

.software-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;

  svg {
    color: darkolivegreen;
  }
}

.hardware-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;

  svg {
    color: #ff6e26;
  }
}

.cyber-security-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;

  svg {
    color: cornflowerblue;
  }
}

.web-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;

  svg {
    color: orange;
  }
}

#industry-consultation {
  padding: 50px;
  background: $lighter-gray;

  h2 {
    margin-top: 0 !important;
  }

  .industry-list {
    list-style-type: none;
    padding-left: 0 !important;
  }
}

#consultancy-posts {

  margin-bottom: 3em;

  h2 {
    margin-top: 0 !important;
  }

  .post-list {
    list-style-type: none;
    padding-left: 0 !important;
  }
}

.header-info-nav {

  float: right;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  margin: 0 0 0 20px;
  line-height: 1.5em;

  li {
    display: inline-block;
    margin-right: 1em;

    &:last-child{
      margin-right: 0;
    }

    a {
      color: #ffffff;
    }
  }
}