.christmas-2019 {
  .fireplace-img {
    height: 140px;
  }
}

.cloud-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;
}

.software-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;

  i {
    color: darkolivegreen;
  }
}

.hardware-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;

  i {
    color: #ff6e26;
  }
}

.cyber-security-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;

  i {
    color: cornflowerblue;
  }
}

.web-tag {
  font-size: 0.8em;
  margin-right: 5px;
  background: #171717;
  padding: 2px 8px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: none !important;
  display: inline-block;

  i {
    color: orange;
  }
}

#industry-consultation {
  padding: 50px;
  background: $lighter-gray;

  h3 {
    margin-top: 0 !important;
  }

  .industry-list {
    list-style-type: none;
    padding-left: 0 !important;
  }
}

#consultancy-posts {

  margin-bottom: 3em;

  h2 {
    margin-top: 0 !important;
  }

  .post-list {
    list-style-type: none;
    padding-left: 0 !important;
  }
}

.header-info-nav {

  float: right;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  margin: 0 0 0 20px;

  li {
    display: inline-block;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: #ffffff;
    }
  }
}

.page__hero--overlay .btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn--grow {
  animation-name: pulse_animation;
  animation-duration: 4000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.03);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.03);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

/* Landing page */
.landing {
  .or-separator {
    display: flex;
    flex-direction: row;
    margin: 20px 0 !important;
    font-size: 0.8em;
  }

  .or-separator:before, .or-separator:after {
    content: "";
    flex: 1 1;
    border-bottom: 1.5px solid #000;
  }

  .or-separator:before {
    margin: auto 20px auto auto;
  }

  .or-separator:after {
    margin: auto auto auto 20px;
  }

  .feature__item {
    padding: 2em;
  }
}

/* Operations consultancy page css */
.operations-consultancy {

}

/* Software consultancy page css */
.software-consultancy {

}

/* Business _solutions page css */
.business_solutions {
  #metrics {
    text-align: center;

    .stat-container {

      padding: 20px;

      .stat-item {

        background: #f5f5f5;
        padding: 20px;
        border: 0.15em solid #6f777d;
        height: 100%;

        span {
          text-align: center;
        }

        .stat {
          line-height: 60px;
          font-size: 1.46em;
          color: #aa0000 !important;
        }

        .metric {
          font-size: 0.88em;
          color: #666e74;
        }

        .animatedNumber {
          display: inline;
        }
      }
    }
  }
}

.techtip-container {
  margin-top: 20px;

  .techtip-item {
    padding: 20px;
    border: 3px solid #f2f3f3;
    height: 100%;

    &:hover {
      cursor: pointer;
    }

    .item-title {
      font-size: 1.2em;
      font-weight: 700;
      margin-bottom: 0.5em;
      display: block;
      text-transform: capitalize;
    }

    .item-description {
      display: block;
      margin-bottom: 20px;
      font-size: 0.88em;

      ul {
        padding-left: 20px;
      }
    }
  }
}

.reason-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ffffff;

  .reason-item {
    padding: 20px;
    border: 3px solid #f2f3f3;
    height: 100%;

    &:hover {
      cursor: pointer;
    }

    .item-title {
      font-size: 1.2em;
      font-weight: 700;
      margin-bottom: 0.5em;
      display: block;
      text-transform: capitalize;
    }

    .item-description {
      display: block;
      margin-bottom: 20px;
      font-size: 0.88em;

      ul {
        padding-left: 20px;
      }
    }

    img {
      height: auto;
      max-width: 40%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 1em;
    }
  }
}

.sidebar-box .read-more {
  display: none;
}

.divider {
  position: relative;
  margin: 60px 0;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 2%;
  right: 2%;
  width: 96%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(170, 0, 0), transparent);
}

.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid rgb(170, 0, 0);
  border-right: 1px solid rgb(170, 0, 0);
}

.consultancy-row {
  background: #e7e7e7;

  img {
    height: auto;
    width: auto;
    margin: 30px auto 0;

    @include breakpoint($small) {
      padding: 20px;
      margin-top: 20px;
    }
  }

  div {
    padding: 0 20px;
  }
}

#discover {
  background:#e0e0e0;

  h2 {
    margin-top: 0px !important;
    padding: 20px !important;
  }

  h3 {
    margin-top: 0px !important;
  }
}

.pulse {
  position: absolute;
  display: inline-block;
  width: 6%;
  height: 6%;
  border-radius: 50%;
  background: #aa0000;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

.marker1 {
  top: 80%;
  left: 57%;
}

.marker2 {
  top: 10%;
  left: 59%;
}

.marker3 {
  top: 50%;
  left: 24%;
}

.marker4 {
  top: 50%;
  right: 20%;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 50px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 50px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 50px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.btn--empty {
  border: 3px solid #000000;
  color: #000000 !important;
  font-weight: 200;

}

.scrollmenu {
  background-color: #292929;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: auto;
  margin: 0;
  padding-left: 20px;
  width: 100%;
}

.scrollmenu li {
  list-style: none;
  display: inline-block;
  line-height: 3em;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-right: 20px;
}

.scrollmenu li a {
  color: white;
  text-align: center;
  padding: 3px 12px;
  text-decoration: none;
  background: #333333;
  border-radius: 20px;
  font-size: 0.88em;
}

.secondary-menu > ul > li.masthead__menu-item.active a {
  background-color: #365670;
}

.scrollmenu a:hover {
  background-color: #777;
}

.secondary-menu-wrapper {
  background: #292929;
  position: relative;
  padding: 0;
  clear: both;
  height: 3em;
}

.secondary-menu {
  @include breakpoint($x-large) {
    max-width: $x-large;
  }

  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@include breakpoint(max-width $medium) {
  .sidebar-box {
    max-height: 50px;
    position: relative;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  .sidebar-box .read-more {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;

    color: blue;
    background: #f2f3f3;
  }
}

.feature-container {
  margin-top: 20px;

  .feature-item {
    padding: 20px;
    border: 3px solid #f2f3f3;
    height: 100%;

    &:hover {
      cursor: pointer;
    }

    .item-title {
      font-size: 1.2em;
      font-weight: 700;
      margin-bottom: 0.5em;
      display: block;
      text-transform: capitalize;
    }

    .item-description {
      display: block;
      margin-bottom: 20px;
      font-size: 14px;
    }

    img {
      height: auto;
      max-width: 40%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 1em;
    }
  }
}

.footer-nav-links-container {
  background: #f2f3f3;

  h3 {
    text-transform: uppercase;
    font-size: 0.84em;
    margin-bottom: 20px;
    color: #ffffff;
    margin-top: 2em;

    span {
      background: #000;
    }
  }

  .footer-nav-links {
    margin-bottom: 2em;

    li {
      margin-bottom: 12px;
      font-size: 0.78em;
      color: #ffffff;

      i {
        color: #aa0000;
      }

      a.active {
        background: #009FE1;
        color: #ffffff;
      }
    }
  }
}

.about-row {

  margin-top: 20px;
  padding: 20px;

  h3 {
    margin-top: 0 !important;
  }

  p {
    font-size: 0.92em;
  }
}

#get-in-touch-container {
  height: auto;
  width: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #292929;
  padding: 0.5em;
  border-radius: 5px 0 0 0;

  a {

    text-decoration: none !important;

    &:hover {
      text-decoration: none !important;
    }

    &:first-child {
      margin-right: 10px;
    }

    i {
      color: #ffffff;
      background: #aa0000;
      font-size: 2em;
      padding: 4px;
      border-radius: 5px;
    }
  }

}

$color-primary: #aa0000;
$color-primary-light: #e5ebc3;
$color-primary-border: #e5ebc3;

// Misc
.container {
  position: relative;
}

.maxwidth {
  max-width: 74rem;
  width: 100%;
  margin: 0 auto;
}

.ux-text h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: .6rem;
  color: #444;
  margin-top: 0;
}

.ux-text h4 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
  color: $color-primary;
  margin-top: 1em;
}

.ux-text p {
  color: #666;
  line-height: 1.8rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.ux-text p:last-child {
  margin: 0;
}

// CSS
.ux-vertical-tabs {
  position: relative;
  display: flex;
  background: linear-gradient(to bottom, #eee, #fff 200px);
  margin-bottom: 40px;
}

.ux-vertical-tabs .tabs {
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.ux-vertical-tabs .tabs button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1.2rem;
  width: 100%;
  outline: none;
  text-align: left;
  cursor: pointer;
  border: 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: .85rem;
  color: #666;
  text-transform: uppercase;
  transition: background 250ms ease;
}

.ux-vertical-tabs .tabs button:first-child {
  border-top: 1px solid #ddd;
}

.ux-vertical-tabs .tabs button:hover {
  background: $color-primary-light;
}

.ux-vertical-tabs .tabs button.active {
  background: transparent;
  border-right: 0;
  color: #222;
}

.ux-vertical-tabs .tabs button.empty {
  flex: 1;
  border: 0;
  border-right: 1px solid #ddd;
  pointer-events: none;
}

.ux-vertical-tabs .tabs button:hover.empty {
  background: none;
}

.ux-vertical-tabs .tabs button span {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #ccc;
  transform: translateX(1rem);
  opacity: 0;
  transition: all 350ms ease;
}

.ux-vertical-tabs .tabs button:hover span {
  transform: translateX(0);
  opacity: 1;
}

.ux-vertical-tabs .tabs button.active span {
  transform: translateX(0);
  border-left: 6px solid $color-primary;
  opacity: 1;
}

.ux-vertical-tabs .maincontent {
  flex: 1;
  border: 1px solid #ddd;
  border-left: 0;
  padding: 2rem;
  overflow: hidden;
}

.ux-vertical-tabs .maincontent .tabcontent {
  display: none;
}

.ux-vertical-tabs .maincontent .tabcontent.active {
  display: flex;
  flex: 1;
  position: relative;
}

@media (max-width: 50rem) {
  .ux-vertical-tabs {
    flex-direction: column;
    background: none;
  }
  .ux-vertical-tabs .tabs {
    width: 100%;
  }
  .ux-vertical-tabs .tabs button.empty {
    display: none;
  }
  .ux-vertical-tabs .maincontent {
    border: 1px solid #ccc;
    border-top: 0;
    background: linear-gradient(to bottom, #eee, #fff 200px);
  }
  .ux-vertical-tabs .tabs button {
    padding: 1rem;
  }
  .ux-vertical-tabs .tabs button.active {
    background: #eee;
  }
  .ux-vertical-tabs .tabs button span {
    transform: rotate(90deg);
  }
  .ux-vertical-tabs .tabs button:hover span {
    transform: rotate(90deg);
  }
  .ux-vertical-tabs .tabs button.active span {
    transform: rotate(90deg);
  }
  .ux-vertical-tabs .maincontent {
    padding: 1rem;
  }
}

ul.exo-menu {
  margin: 0;
  padding: 0;

  width: 100%;
  float: left;
  list-style-type: none;
  position: relative;

  height: 100px;

  ul {
    list-style-type: none;
    margin-top: 0;
  }

  ul.drop-down-ul {
    padding-left: 0;

    li {
      line-height: 24px;
      font-size: 16px;
    }

    li.flyout-left ul, li.flyout-right ul {
      padding-left: 0;

      li {
        margin-bottom: 0;
        line-height: 30px;

      }
    }
  }

  li.flyout-right ul li > a:hover + ul {
    display: block;
  }

  li.flyout-right ul li > a > ul:hover {
    display: block;
    background: red;
  }

  li.flyout-right ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
  }

  & > li {
    display: inline-block;
    float: left;
    height: 100px;
    margin-bottom: 0;
    line-height: 100px;

    a {
      span.menu-item {
        padding: 0 20px;
      }
    }
  }

  a, a:hover, a.active, a:active, a:visited, a:focus {
    color: #fefefe;
    text-decoration: none;
  }
}

.exo-menu > li > a {
  color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px #495056 dotted;
  -webkit-transition: color 0.2s linear, background 0.2s linear;
  -moz-transition: color 0.2s linear, background 0.2s linear;
  -o-transition: color 0.2s linear, background 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear;

  height: 100px;
  font-size: 0.88em;

  display: block;
  width: auto;
}

.exo-menu > li > a.active,
.exo-menu > li > a:hover,
li.drop-down ul > li > a:hover {
  background: #009FE1;
  color: #fff;
}

li.drop-down,
.flyout-right,
.flyout-left {
  position: relative;
  margin-bottom: 0;
}

li.drop-down > ul {
  left: 0;
  min-width: 230px;

}

.drop-down-ul {
  display: none;
}

.flyout-right > ul,
.flyout-left > ul {
  top: 0;
  min-width: 230px;
  display: none;
  border-left: 1px solid #365670;
}

.flyout-right > ul ul,
.flyout-left > ul ul {
  top: 0;
  min-width: 230px;
  display: none;
  border-left: 1px solid #365670;
}

li.drop-down > ul > li > a,
.flyout-right ul > li > a,
.flyout-left ul > li > a {
  color: #fff;
  display: block;
  padding: 1.2em 1em;
  text-decoration: none;
  background-color: #365670;
  border-bottom: 1px dotted #547787;
  -webkit-transition: color 0.2s linear, background 0.2s linear;
  -moz-transition: color 0.2s linear, background 0.2s linear;
  -o-transition: color 0.2s linear, background 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear;
}

.flyout-right ul > li > a,
.flyout-left ul > li > a {
  border-bottom: 1px dotted #B8C7BC;
}

.flyout-right ul > li:last-child > a,
.flyout-left ul > li:last-child > a {
  border-bottom: none !important;
}

/*Flyout Mega*/
.flyout-mega-wrap {
  top: 0;
  right: 0;
  left: 100%;
  width: 100%;
  display: none;
  height: 100%;
  padding: 15px;
  min-width: 742px;

}

.Blog, .mega-menu {

  line-height: 30px;

  h4.row.mega-title {
    color: #eee;
    margin-top: 0;
    font-size: 14px;
    padding-left: 15px;
    padding-bottom: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
  }

  h4.row.mega-title:first-child {
    margin-left: -15px;
  }

  h4.row.mega-title:last-child {
    margin-right: 0;
  }
}

.flyout-mega ul > li > a {
  font-size: 90%;
  line-height: 25px;
  color: #fff;
  font-family: inherit;
}

.flyout-mega ul > li > a:hover,
.flyout-mega ul > li > a:active,
.flyout-mega ul > li > a:focus {
  text-decoration: none;
  background-color: transparent !important;
  color: #ccc !important
}

/*mega menu*/

.mega-menu {
  right: 0;
  display: none;
  padding: 0 15px 15px;
  width: 100vw;
  position: fixed;

  ul.stander li a:not(.view-more) {
    padding: 3px 0;
    font-size: 0.77em;
  }

  ul.description {
    li {
      span {
        font-size: 0.67em;
      }
      a:not(.view-more) {
        font-size: 0.77em;
      }
    }
  }
}

.mega-menu, .Blog {

  .container {
    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  a.view-more {
    border-radius: 10px;
    margin-top: 15px;
    background-color: #009FE1;
    padding: 2px 10px;
    line-height: 21px;
    font-size: 0.66em;
    display: inline-block;

    &:hover {
      color: #fff;
      background: #0DADEF;
    }
  }
}

h4.row.mega-title {
  color: #eee;
  margin-top: 0;
  font-size: 14px;
  padding-left: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid #547787;
  padding-top: 15px;
  background-color: #365670;
  margin-right: -43px;
  margin-left: 0;
}

.mega-menu ul li a {
  line-height: 25px;
  font-size: 90%;
  display: block;
}

ul.description li {
  padding-bottom: 12px;
  line-height: 8px;
}

ul.description li span {
  color: #ccc;
  font-size: 85%;
  line-height: 24px;
}

ul.icon-des li a i {
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  background-color: #009FE1;
  line-height: 35px !important;
}

ul.icon-des li {
  width: 100%;
  display: table;
  margin-bottom: 11px;
}

/*Blog DropDown*/
.Blog {
  padding: 0 20px 20px;
  left: 0;
  display: none;
  color: #fefefe;
  background: #547787;
  width: 100vw;
  position: fixed;

  .blog-title {
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    line-height: 24px;
  }

  .blog-description {
    color: #f2f3f3;
    font-size: 0.80em;
    margin-top: 10px;
    line-height: 24px;
    margin-bottom: 0;
  }
}

/*Images*/
.Images {
  left: 0;
  width: 100%;
  display: none;
  color: #fefefe;
  padding-top: 15px;
  background: #547787;
  padding-bottom: 15px;

  h4 {
    font-size: 15px;
    margin-top: 0px;
    text-transform: uppercase;
  }
}

/*common*/
.flyout-right ul > li > a,
.flyout-left ul > li > a,
.flyout-mega-wrap,
.mega-menu {
  background-color: #547787;
}

/*hover*/
.Blog:hover,
.Images:hover,
.mega-menu:hover,
.drop-down-ul:hover,
li.flyout-left > ul:hover,
li.flyout-right > ul:hover,
.flyout-mega-wrap:hover,
li.flyout-left a:hover + ul,
li.flyout-right a:hover + ul,
.blog-drop-down > a:hover + .Blog,
li.drop-down > a:hover + .drop-down-ul,
.images-drop-down > a:hover + .Images,
.mega-drop-down a:hover + .mega-menu,
li.flyout-mega > a:hover + .flyout-mega-wrap {
  display: block;
}

/*responsive*/
@media (min-width: 767px) {

  .flyout-mega-wrap, .Images, .flyout-right > ul,
  .flyout-left > ul, li.drop-down > ul {
    position: absolute;
  }
  .flyout-right > ul {
    left: 100%;
  }
  .flyout-left > ul {
    right: 100%;
  }
}

@media (max-width: 767px) {

  .exo-menu {
    min-height: 58px;
    width: 100%;
  }

  .exo-menu > li > a {
    width: 100%;
    display: none;

  }
  .exo-menu > li {
    width: 100%;
  }
  .display.exo-menu > li > a {
    display: block;
    padding: 20px 22px;
  }

  .mega-menu, .Images, .flyout-right > ul,
  .flyout-left > ul, li.drop-down > ul {
    position: relative;
  }

}

a.toggle-menu {
  position: absolute;
  right: 0px;
  padding: 20px;
  font-size: 27px;
  background-color: #ccc;
  color: #23364B;
  top: 0;
  height: 80px;
  width: 80px;
}

/* --------------------------------
Cookie notice
-------------------------------- */

.cookie-notice {
  position: fixed;
  bottom: 0;
  left: 15px;
  height: auto;
  z-index: 2;
  background: white;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.086) 0px 1px 8px 0px, rgba(0, 0, 0, 0.1) 0px 8px 24px 0px;
  border-radius: .42em;
  padding: 1em;

  h4 {
    margin: 0;
  }

  p {
    font-size: 0.77em;
  }
}

.notice__close-btn {
  padding: 0.5em;
  display: block; // fallback
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
  color: yellow;

  &:hover {
    background-color: red;
  }

  .icon {
    display: block;
  }
}

.notice--hide {
  opacity: 0;
  visibility: hidden;
}

.clip-block {
  text-align: center;
}

.clip-wrap {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 20px;
}

.clip-css {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
}

.clip-css-diamond {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
}

.body-overlay {
  display: none;
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 19;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

.service-reviews-banner {
  background: #e0e0e0;
}