/* Variables */
@import "keepaliveit-theme/variables";

/* Mixins and functions */
@import "keepaliveit-theme/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);
@import "keepaliveit-theme/vendor/magnific-popup/magnific-popup";
@import "keepaliveit-theme/vendor/susy/susy";
@import "keepaliveit-theme/mixins";

/* Core CSS */
@import "keepaliveit-theme/reset";
@import "keepaliveit-theme/base";
@import "keepaliveit-theme/forms";
@import "keepaliveit-theme/tables";
@import "keepaliveit-theme/animations";

/* Components */
@import "keepaliveit-theme/buttons";
@import "keepaliveit-theme/notices";
@import "keepaliveit-theme/masthead";
@import "keepaliveit-theme/navigation";
@import "keepaliveit-theme/footer";
@import "keepaliveit-theme/search";
@import "keepaliveit-theme/syntax";

/* Utility classes */
@import "keepaliveit-theme/utilities";

/* Layout specific */
@import "keepaliveit-theme/page";
@import "keepaliveit-theme/archive";
@import "keepaliveit-theme/sidebar";
@import "keepaliveit-theme/print";

/* Additional plugins I've added */
@import "plugins/aos/aos";
@import "plugins/pushy/pushy";
@import "plugins/accordian/accordion";
@import "plugins/swal/sweetalert2";
@import "plugins/droopmenu/droopmenu.custom";


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: $small,
        md: $medium,
        lg: $large,
        xl: $x-large
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: $small,
        md: $medium,
        lg: $large,
        xl: $max-width
);

@import 'plugins/bootstrap/scss/bootstrap-grid';
@import 'plugins/bootstrap/scss/_mixins';
@import 'plugins/bootstrap/scss/_tables';

/* Customised user-defined styles */
@import "custom";