---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    <div class="header-info-wrapper">
      <div class="header-info">
        <span><i class="far fa-envelope"></i> <a href="mailto:sales@keepaliveit.co.uk">sales@keepaliveit.co.uk</a></span>
        <ul class="header-info-nav">
          <li>
            <i class="fas fa-file-alt"></i>
            <!--<a href="assets/downloads/pre-consultation-document.pdf" download="pre-consultation-document.pdf">Pre-Consultation Document</a>-->
            <a href="/it-consultation-documents">I.T Consultation Documents</a>
          </li>
        </ul>
      </div>
    </div>

    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% include masthead.html %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}


    <div id="footer" class="page__footer">
      <div class="page__hero--overlay" style="background-color: #5e616c; background-image: linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.34)), url('/assets/images/meeting.jpg');">
        <div class="wrapper" style="color: white;">
          <h2>Plan a FREE I.T Consultation Session with Us:</h2>
          <p>We'd love to get to know more about your I.T requirements. If you'd like us to arrange a completely FREE 15-minute video consultation with you, please visit the following link and fill in the form with your contact details & a preferred call time so we can get back to you.</p>
          <a class="btn btn--light-outline btn--large btn--grow" href="/request-a-callback">Request a FREE I.T Consultation Session</a>
        </div>
      </div>

      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
