---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include page__hero.html %}
{% elsif page.header.video.provider %}
{% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
    <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
        {% if page.title %}
        <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}
        {% if page.excerpt %}
        <meta itemprop="description"
              content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}
        {% if page.date %}
        <meta itemprop="datePublished" content="{{ page.date | date: " %B %d, %Y
        " }}">{% endif %}
        {% if page.last_modified_at %}
        <meta itemprop="dateModified" content="{{ page.last_modified_at | date: " %B %d, %Y
        " }}">{% endif %}

        <section class="page__content" itemprop="text">
            {{ content }}
        </section>
    </article>
</div>

<div class="cookie-notice" data-aos="fade-up" data-aos-delay="1000" style="display: block;">
    <h4>⚠️🍪 Important: Cookie Compliance Notice:</h4>
    <p>We are sorry to interrupt your browsing experience but by law, we need you to accept our cookie compliance notice before we are able to store additional cookies on your device.</p>
    <p>We use cookies to give you the best possible website experience. By using keepaliveit.co.uk, you give consent that you agree to our <a
            href="/privacy-policy">Privacy Policy</a> which describes how we use your information.</p>
    <p>Is this okay?</p>
    <button class="btn btn--primary">Yes, Cookie usage is fine.</button>
    <button class="btn btn--subtle">No, I'd like to opt out.</button>
</div>