---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include page__hero.html %}
{% elsif page.header.video.provider %}
{% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
    <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
        {% if page.title %}
        <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}
        {% if page.excerpt %}
        <meta itemprop="description"
              content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}
        {% if page.date %}
        <meta itemprop="datePublished" content="{{ page.date | date: " %B %d, %Y
        " }}">{% endif %}
        {% if page.last_modified_at %}
        <meta itemprop="dateModified" content="{{ page.last_modified_at | date: " %B %d, %Y
        " }}">{% endif %}

        <section class="page__content" itemprop="text">
            {{ content }}
        </section>
    </article>
</div>

<div class="cookie-notice" data-aos="fade-right" data-aos-delay="800" style="display: block;">
    <h4>🍪 Cookie Compliance Notice:</h4>
    <p>We use cookies to give you the best possible website experience. By using keepaliveit.co.uk, you agree to our <a
            href="/privacy-policy">Privacy Policy</a>.</p>

    <button class="btn btn--primary width-100% margin-bottom-xxs js-notice__hide-control">OK, Got it!</button>
    <button class="btn btn--subtle width-100% js-notice__hide-control">No, Thanks.</button>
</div>