/* ==========================================================================
   MASTHEAD
   ========================================================================== */

$header-height: 100px;

.masthead {
  z-index: 20;
  background: #292929;
  height: $header-height;
  position:fixed;
  width: 100%;

  .masthead__brand {
    min-width: 60%;
    width: 60%;
    max-width: 60%;
    background: #aa0000;
    height: $header-height;
    line-height: $header-height;

    @include breakpoint($small) {
      min-width: 35%;
      width: 35%;
      max-width: 35%;
    }

    @include breakpoint($large) {
      min-width: 25%;
      width: 25%;
      max-width: 25%;
    }

  }

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo-link {
  display: block;
  height: $header-height;
}

.site-logo-link img {
  max-height: 60px;
  padding: 0 15px;
}

.site-title {
  font-weight: bold;
  z-index: 20;
  color: #fff !important;
  line-height: initial;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
  color: #ffffff;
  line-height: initial;
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    background: #292929;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }

  .dropdown-menu-secondary {
    position: absolute;
    top: 0;
    display: none !important;
    left: 200px;
  }

  .dropdown-menu {
    position: absolute;
    margin: 0 10px;
    display: none !important;
    width: 200px;

    li {
      display: block !important;
      list-style-type: none;
      position: relative;
      padding: 20px;
      background-color: #333333;
      margin-left: 0 !important;
      color: #ffffff;

      &:hover {
        background: #6f777d;
      }

      a {
        padding: 0;
        margin: 0;

        &:hover {
          background: inherit;
        }
      }
    }
  }
}

